html {
    font-family: "Noto Sans CJK TC";
    font-size: 18px;
    line-height: 1.7em;

    border: 1px solid #B5B5B5;
    padding: 16px;

    overflow-wrap: break-word;
    word-break: break-all;
}

h1 {
    font-weight: bold;
    font-size: 1.25em;
}

ol li:only-child {
    list-style: none;
}

hr.in-definition {
    width: 50%;
    margin-left: 0;
}

li {
    margin-bottom: 0.5em;
}

span.type {
    color: #fff;
    background-color: rgb(107, 0, 0);

    border-radius: 4px;

    padding: 2px;
}

span.definition {
    display: block;
    margin-bottom: 2pt;
}

span.example {
    display: block;
    font-size: 0.9em;
}

span.quote {
    display: block;
    font-size: 0.9em;
}

span.synonyms {
    display: block;
    font-size: 0.9em;
}

span.antonyms {
    display: block;
    font-size: 0.9em;
}
