html {
    font-family: "Noto Sans CJK TC";
    border: 1px solid #B5B5B5;
}

h1 {
    font-weight: bold;
    font-size: 1.25em;
}

ol {
    padding-left: 24px;
}

.headword {
    color: red;
    font-style: bold;
}