.root {
    -fx-font-family: "Inter";
}

.chinese {
    -fx-font-family: "Noto Sans CJK TC";
}

.list-view {
    -fx-selection-bar: #B8EEFF;
    -fx-font-family: "Noto Sans CJK TC";
    /*-fx-selection-bar-non-focused: green;*/
}

.list-view-entry {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.list-view-definition {
    -fx-font-size: 16;
}

.list-view-pronunciation {
    -fx-font-size: 12;
}

.moe-definition {
    -fx-font-size: 16;
}

.headword {
    -fx-font: 50 TW-Kai;
}

.pronunciation {
    -fx-font: 18 TW-Kai;
}